body{
	background-color:#h3h3h3;
}

div.header {
	padding-left:2%;
	padding-right:2%;
}

div.borderedBlue {
	border:2px solid #3090C7;
}

div.borderedRed {
	border:2px solid red;
}

div.topMargin {
    margin-top:2%;
}

div.projectColumnHeader {
	color:black;
	background-color:white;
	padding:0;
	padding-left:1%;
	margin:0;
}

div.projectColumnText {
	border:1px solid white;
	color:white;
	background-color:#CC8800;
	padding:1%;
}

p {
	padding:0;
	margin:0;
}

.noPadding {
	padding:0;
	margin:0;
}

div.block1 {
	padding-top:6%;
	padding-bottom:3%;
	background:url(imgs/block1_Notebook.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	color:white;
	-webkit-box-shadow: 0px 1px 2px #000000;
       -moz-box-shadow: 0px 1px 2px #000000;
            box-shadow: 0px 1px 2px #000000;
}

div.block2 {
	padding-top:3%;
	padding-bottom:3%;
	background-color:#E59900;
	color:white;
	-webkit-box-shadow: 0px 1px 2px #000000;
       -moz-box-shadow: 0px 1px 2px #000000;
            box-shadow: 0px 1px 2px #000000;
}

div.block3 {
	padding-top:3%;
	padding-bottom:3%;
	background:url(imgs/block3_Code.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	color:white;
	-webkit-box-shadow: 0px 2px 4px #000000;
       -moz-box-shadow: 0px 2px 4px #000000;
            box-shadow: 0px 2px 4px #000000;
}

div.greyBlock {
	background-color:#EDEDED;
	-webkit-box-shadow: 0px 1px 2px #000000;
       -moz-box-shadow: 0px 1px 2px #000000;
            box-shadow: 0px 1px 2px #000000;
}

div.projectBlock {
	padding-top:1%;
	padding-bottom:3%;
	background-color:#DDDDDD;
	border-left:2px solid #FFAA00;
	border-right:2px solid #FFAA00;
}

div.portfolioBlock{
	padding:1%;
	background-color:white;
}
/*header stuff*/

div.headerMenu {
	background-color:#22ACAC;
	color:white;
	-webkit-box-shadow: 0px 1px 2px #000000;
       -moz-box-shadow: 0px 1px 2px #000000;
            box-shadow: 0px 1px 2px #000000;
}

ul.headerMenu{
	color:white;
}

a.headerMenu:link, a.headerMenu:visited, a.headerMenu:active{
	color:white;
}

a.headerMenu:hover {
	color:grey;
}

/* Footer stuff */

div.footer {
	padding-top:2%;
	padding-bottom:3%;
	background-color:#D1D1D1;
	border-top:1px solid black;
	-webkit-box-shadow: 0px 1px 2px #000000;
       -moz-box-shadow: 0px 1px 2px #000000;
            box-shadow: 0px 1px 2px #000000;
}

